body {
  background-color: Tomato;
}
h1{

text-align: center;
 
 color:blue;
  animation-name: example;
  animation-duration: 5s;
}

@keyframes example {
  from {color: green;}
  to {color: yellow;}
}
h3{
text-align: center;
}
h2{
text-align: center;
color:indigo;
}


input[type=text],input[type=password],input[type=email], input[type=number]{
height:35px; 
width:200px;
font-size:17px;
 background-color:DodgerBlue;
text-align: center;
color: white;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit],input[type=reset] {
  height:35px; width:90px;
  background-color: blue;
text-align: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

registration{
text-align: center;
background-color:red;
height:30px;
 width:250px;font-size:20px;
}

/* news */
.news{
  overflow: hidden;
  background-color:khaki;

}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color:Teal;

}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color:Cyan;
  color: black;
}


/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
text-align: justify;
  text-justify: inter-word;
 background-color:seagreen;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  background-color:Gray;
  padding: 10px;
  text-align: center;
}

/* image */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsives {
  padding: 0 6px;
  float: left;
  width:24%;
}
.responsive {
  padding: 0 6px;
  float: left;
  width:50%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* calender */

* {box-sizing: border-box;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;

}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

/* time */
.s{
  text-align: center;
background:black;
   color:blue;
  font-size: 30px;
  margin-top: 0px;
}

/*  justify; */
.school{
text-align: justify;
}